body 
{font-family:"Roboto",sans-serif;
background-color: #FFFFFF;
color:#434455;}

.header-{border-bottom: 1px solid #e7e9fc}

.div-logo{display: flex;
}
.container{
width: 1158px;
margin: 0 auto;
padding: 0 15px;}

.nav-logo{
display: flex;
align-items: center;}

:root {
--bacground-color:#FFFFFF;
--logo-main-color:#4d5ae5;
--becgroung-color-section:#2e2f42;
--section-heading-color:#434455;
--footer-color:#F4F4FD;
--link-hover-focus:#404bbf;}

.logo-web 
{font-family:"Raleway",sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--logo-main-color);
margin-right: 76px;
}
   
    .list {list-style: none;
    display: flex;
    gap: 40px}

    .menu-header
    {display: flex;
    gap: 40px;}

    .logo-studio {color:var(--becgroung-color-section);}

    .lista-header {list-style: none}

    .adr {font-style: normal;}

    .address-logo
    {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section-heading-color);
    display: flex;
    gap: 40px;}


    .link {text-decoration: none}

    .link-header
    {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--becgroung-color-section);
    padding: 24px 0}

    .link:hover, .link:focus {color:var(--link-hover-focus);}
   
    .contacts{list-style: none}

    .sekcja-index 
    {background-color:#2e2f42;}

    .sekcja-one{padding: 188px 0;}

    .naglowek
    {font-size:56px;
    line-height:1.07;
    text-align:center;
    letter-spacing:0.02em;
    color: #ffffff;}

    .naglowek-one{max-width: 496px;}

    .naglowek-two 
    {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--becgroung-color-section);}

    .naglowek-tree {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--becgroung-color-section);}


    .button 
    {background-color:#4D5AE5;
    color:#ffffff;
    font-family:"Roboto", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em;}

    .button-index
    {display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:var(--logo-main-color);
    border-radius: 4px;}


    .button:hover, .button:focus {background-color:#404BBF;}

    .button-portfolio
    {background-color:var(--footer-color);
    color: var(--logo-main-color);
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    }

    .button-portfolio:hover, .button-portfolio:focus
    {background-color: #404BBF;
    color: #FFFFFF;}


    .acapit
    {font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:var(--section-heading-color);}

    .section-four {background-color: #F4F4FD;}

    .fotos {background-color: #FFFFFF;}

    .footer {background-color:var(--becgroung-color-section)}

    .styl-color {color: var(--footer-color);}

    .acapit-footer
    {line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-color); }





    




