body 
{font-family:"Roboto",sans-serif;
  background-color: #FFFFFF;
    color:#434455;
}

:root {
    --color1:#4d5ae5;
    --color2:#2e2f42;
    --color3:#434455;
    --color4:#F4F4FD;
}

    .logo-web 
    {font-family:"Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color1)
    }
   
    .list 
    {list-style: none;}

    .logo-studio {color:var(--color2);}

    .lista-header 
    {list-style: none}

    .adress 
    {font-style: normal;}

    .link {text-decoration: none}

    .link-index
    {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color2);
    }

    .contacts{list-style: none}

    .mail
    {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--color3)}

    .sekcja-jeden
    {background-color:#2e2f42;}

    .naglowek
    {
        font-size:56px;
        line-height:1.07;
        text-align:center;
        letter-spacing:0.02em;
        color: #ffffff;}

    .button 
    {background-color: #4D5AE5;
    font-family:"Roboto", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em;
    color: #ffffff;
    }

    .button:hover
    {color:var(--color1);
    cursor: pointer;
    background-color:#F4F4FD;
    }

    .list
    {list-style: none;}

    .naglowek-two
    {font-weight:500;
    font-size:20px;
    line-height:1,2;
    letter-spacing:0.02em;
    color: var(--color2);
    }

    .acapit
    {font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:var(--color3);
    }

    .naglowek-tree
    {font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color:var(--color2);
    }

    .section-four
    {background-color: #F4F4FD;
    }

    .fotos
    {background-color: #FFFFFF;}

    .footer
    {background-color:var(--color2)}

    .styl-color
    {color: #f4f4fd;}

    .acapit-footer
    {line-height: 1.5px;
        letter-spacing: 0.02em;
        color: var(--color4); }





    




