body 
{font-family:"Roboto",sans-serif;
  background-color: #FFFFFF;
    color:#434455;
}

:root {
    --color:#4d5ae5;
    --color2:#2e2f42;

}

    .logo-web 
    {font-family:"Raleway",sans-serif;
   font-weight: 800px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color);
    }
    .link
    {text-decoration: none}

    .logo-studio {
        color:var(--color2);
    }

    .lista-header 
    {list-style: none}

    .link-first
    {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color2);
    }
    .link-first-plus
    {text-decoration: none}

    .link-portfolio
    {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .link-portfolio-plus
    {text-decoration: none}

    .link-contacts
    {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .link-contacts-plus
    {text-decoration: none}

    .adres
    {font-style: normal;}
    .adres-plus
    {list-style: none;}

    .contacts 
    {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;}
    .contacts-plus
    {text-decoration: none;}

    .sekcja-jeden
    {background-color:#2e2f42;}

    .naglowek
    {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;}

    .button {
        background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    }

    .lista-cech
    {

    }



    




